<div *ngIf="!mentionsData || !mentionsData.length" class="container left-side">

  <div class="row">

    <div class="text-align:center">
      No mentions present
    </div>
  </div>
</div>

<div class="pre-left-side-parent">
  <div class="logos">
    <div class="normal-logo active-logo">
      <span>
        <svg height="32" width="32" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13 22c0-1.65.59-2.83 3-3h4c2 0 5.06-2 5.06-5 0-4-3.06-6-9.06-6-6.5 0-9 1.61-9 6 0 3.25 2 3.45 3 4l-1 2a6.25 6.25 0 0 1-4-6c0-5.16 4-8 11-8s11 2.85 11 8c0 1.46-1 7-8 7-2 0-2 1-2 2.81v1.47c0 .54-.55.72-1 .72-1.29 0-3-2-3-4zm8-9H11v-2h10v2zm-4 4h-6v-2h6v2z">
          </path>
        </svg>
      </span>
    </div>

    <div class="normal-logo2 fade" style="bottom:3px !important; position: absolute;" title="logout">
      <span>
        <a href="/logout">
          <img height="32" src="{{apiUrl}}/new/logout3.png" width="32">
        </a>

      </span>
    </div>

  </div>
</div>

<div
  [ngClass]="{'width-extend': widthExtend === true , 'width-de-extend': widthDeExtend === true, 'left-bar-margin-left' : ((widthExtend === false && widthDeExtend === false) || widthExtend === true)  }"
  class="left-side-parent">
  <div class="left-side-top">
    <div class="row assign-panel">
      <div (click)="togglePreLeftBar()" class="col-md-1 show-pointer">
        <svg class="interface-icon o__standard" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2 12h11a1 1 0 0 1 0 2H2a1 1 0 0 1 0-2zm0-5h9a1 1 0 0 1 0 2H2a1 1 0 1 1 0-2zm0-5h12a1 1 0 0 1 0 2H2a1 1 0 1 1 0-2z">
          </path>
        </svg>
      </div>
    </div>
  </div>

  <div class="left-side-middle">
    <div class="row assign-panel2">
      <div class="col-md-1">
        <svg class="interface-icon o__standard" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15 8.482v4.679a.87.87 0 0 1-.875.839H1.875A.867.867 0 0 1 1 13.179V9.045c0-.048.024-.149.071-.304l2.554-6.205A.887.887 0 0 1 4.429 2h7.142a.84.84 0 0 1 .804.554l2.554 6.098c.016.05.03.183.04.347.022.376.031-.579.031-.517zm-1.84.517c.284-.002.493-.204.394-.49-.052-.15-.755-1.898-2.108-5.241A.474.474 0 0 0 11 3.002L5 3c-.289 0-.409.118-.498.268-.09.15-1.925 4.935-2.038 5.241-.113.307.123.49.34.49h1.625c.894-.005.988.41.97 1.01v.135c0 .455.141.836.587.872l3.968-.009c.425-.028.546-.507.546-1.007.028-.608.308-1.002 1.071-1h1.59zM5.5 5h5a.5.5 0 1 1 0 1h-5a.5.5 0 0 1 0-1zm0 2h5a.5.5 0 1 1 0 1h-5a.5.5 0 0 1 0-1z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
      <div class="col-md-2" class="assign-panel-data2">
        <b>Open</b> <span class="unread-count"> &nbsp;{{totalCount}}</span>
      </div>

      <div class="col-md-2" class="assign-panel-data2">
        <svg class="interface-icon o__standard" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6l4 4 4-4H4z"></path>
        </svg>
      </div>
    </div>
  </div>

  <div *ngIf="mentionsData && mentionsData.length" class="left-side">

    <div (click)="inReplyDataAdd(i, mention.id_str)" *ngFor="let mention of mentionsData; let i = index"
         [class.activeDiv]="inReplyIdString === mention.id_str" class="newDiv">
      <div class="row">
        <div class="col-md-2">
          <img class="profile-pic" img-cache img-cache-src src="{{mention.user.profile_image_url_https}}"/>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-10 col-sm-9 col-xs-9">
              <b class="mention-name">{{mention.user.name}}</b>
              <span *ngIf="mention.newMentionsCount && mention.newMentionsCount !== 0" class="f-s-13 f-w-450 black-4"
                    style="background-color:#DC143C; color: white; border-radius: 50%; margin-left: 3px;
              padding-right: 3px;"> {{mention.newMentionsCount}}</span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
              <span class="mention-date">
                {{dateConvertIntoShortFormat(mention.created_at)}}
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 mention-data">
          {{truncateChar(mention.full_text)}}
        </div>
      </div>
    </div>
  </div>
</div>

<div
  [ngClass]="{'width-extend-for-middle': widthExtend === true , 'width-de-extend-for-middle': widthDeExtend === true, 'middle-bar-margin-left-in-extend' : ((widthExtend === false && widthDeExtend === false) || widthExtend === true), 'middle-bar-margin-left-in-de-extend' : widthDeExtend === true, 'width-for-middle-in-extend' : ((widthExtend === false && widthDeExtend === false) || widthExtend === true), 'width-for-middle-in-de-extend' : widthDeExtend === true  } "
  class="middle-side-parent">

  <div class="middle-side-top">
    <div class="middle-side-top-body-parent">
      <div class="middle-side-top-body1 black-4 f-w-450 f-s-16">
        {{name}}
      </div>
      <div class="middle-side-top-body2">
        <div class="">
          <span *ngIf="inReplyIdStringPresent" class="show-pointer m-l-3" style="padding-right: 8px;"
                title="refresh mention replies">
            <a (click)="refreshRepliesData()"> <img height="16" src="{{apiUrl}}/new/refresh.png" width="16"/> </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div (click)="removeNewMentionCount()" class="middle-side">
    <div *ngIf="!inReplyIdStringPresent" class="tweet-replies">
      Please Select any mention.
    </div>
    <div *ngIf="inReplyIdStringPresent" class="tweet-replies">
      <div *ngIf="replyDataChecking">
        {{replyDataMessage}}
        <img class="loading" img-cache img-cache-src src="{{apiUrl}}/loading2.gif"/>
      </div>
      <div *ngIf="!replyDataChecking">

        <ol class="discussion">
          <li *ngFor="let mention of inReplyData; let i = index">
            <div class="messages-flex-parent">
              <div
                [ngClass]="{'other': userData.screen_name !== mention.user.screen_name , 'self': userData.screen_name === mention.user.screen_name }"
                class="messages-flex">
                <div class="avatar">
                  <img class="profile-pic2" height="33.5px" img-cache img-cache-src
                       src="{{mention.user.profile_image_url_https}}"/>
                </div>

                <!-- displaying loading -->
                <div *ngIf="mention.replyMessageFromTextArea" id="replay-status-{{i}}">
                  <span *ngIf="postTweetChecking" style="padding: 10px;">
                    <span *ngIf="!postTweetMessage">
                      <img height="32" src="{{apiUrl + '/spinner.gif'}}" width="32"/>
                    </span>
                    <span *ngIf="postTweetMessage && !postTweetStatus">
                      <img height="32" src="{{ apiUrl + '/failure.jpg'}}" width="32"/>
                    </span>
                    <span *ngIf="postTweetMessage && postTweetStatus">
                      <img height="22" src="{{apiUrl + '/success.png'}}" width="22"/>
                    </span>
                  </span>
                </div>

                <div class="messages">
                  <p [innerHTML]="convertData(mention.full_text) | linkify"></p>
                </div>

              </div>
              <div
                [ngClass]="{'others-messages-date': inReplyUserScreenName == mention.user.screen_name , 'self-messages-date':inReplyUserScreenName != mention.user.screen_name }"
                style="display: flex">
                <div class="avatar" style="visibility: hidden;">
                  <img class="profile-pic2" height="33.5px" img-cache img-cache-src
                       src="{{mention.user.profile_image_url_https}}"/>
                </div>
                <span>
                  {{dateConvertIntoShortFormat(mention.created_at)}}
                </span>
              </div>

            </div>
          </li>
        </ol>
      </div>
    </div>

  </div>

  <div *ngIf="inReplyIdStringPresent">
    <div class="middle-side-bottom-parent">
      <div class="middle-side-bottom1 f-s-14 f-w-450">
        <span class="f-w-450 show-pointer active-reply-class reply-class">
          <!-- <span> -->
          Reply
        </span>
        <span style="padding-left:20px">
          &nbsp;
        </span>

      </div>

      <div class="middle-side-bottom2">
        <div class="message-reply-body">
          <form #ss="ngForm">
            <textarea (keypress)="calculateCharacters()" [(ngModel)]="twitter.twitterText"
                      class="border-none reply-textarea f-s-14" cols="200"
                      name="email" placeholder="Try adding article" required rows="3"
                      type="message">
                      </textarea>
          </form>
        </div>
      </div>

      <div class="middle-side-bottom3">
        <span class="" style="float: right; margin-top: -2px;">
          <button (click)="postTweet()" class="btn btn-primary f-w-450">Send</button>
        </span>
      </div>
    </div>
  </div>
</div>
