<div class="contatiner-fluid">
  <nav class="navbar navbar-expand-lg bg-light navbar-light">
    <a class="navbar-brand" style="color:green; font-family: serif ">Help Desk</a>
    <ul class="navbar-nav">
    </ul>
  </nav>
  <br/>
  <div class="row justify-content-md-center">
    <span class=" col-md-3 alert alert-{{alertMessageType}}">
      {{message}}
    </span>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <h2>Register</h2>
      <form #ss="ngForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" [(ngModel)]="userData.name" name="name" required class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" [(ngModel)]="userData.email" name="email" required class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" [(ngModel)]="userData.password" name="password" required class="form-control" id="password">
        </div>
        <div class="form-group">
          <label for="confirmPassowrd">Confirm Password:</label>
          <input type="password" [(ngModel)]="userData.confirmPassword" name="confirmPassowrd" required class="form-control"
            id="confirmPassword">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success form-control" (click)="formSubmit()">Submit</button>
        </div>
        <div class="form-group">
          <a style="background-color:midnightblue; color: white" class="btn form-control" routerLink="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>